.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.container{
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #dfdfdf;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}


body.theme-light {
  --xxx: green;
}
body.theme-dark {
  --xxx: red;
}

