.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.container{
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #dfdfdf;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

body{
  transition: background,background-color 250ms;
}
body.theme-light {
  color: #000000d9;
  --header-bac: #ffffff;
}
body.theme-dark {
  color: #d3d3d3;
  --header-bac: #101112;
}

